In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.colors as clr
import matplotlib.dates as md
import seaborn as sns
import datetime as datetime
import numpy as np

%matplotlib inline

plt.style.use('default')

sns.set(style="whitegrid")

import warnings 
warnings.filterwarnings('ignore')

my_colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

In [2]:
%run Limpieza_Clicks.ipynb
%run Limpieza_Auctions.ipynb
%run Limpieza_Installs.ipynb
%run Limpieza_Events.ipynb

In [27]:
#Obtenemos una lista con los id de los dispositivos que queremos analizar
targets = pd.read_csv('../Data/target_competencia_ids.csv')
dispositivos_a_analizar = targets['ref_hash'].str.replace("_st", "").str.replace("_sc","").drop_duplicates()

In [28]:
targets.shape

(8074, 2)

In [29]:
dispositivos_a_analizar.head()

0    1000169251625791246
2    1000395625957344683
4    1003027494996471685
6    1006670001679961544
8    1007573308966476713
Name: ref_hash, dtype: object

In [30]:
dispositivos_a_analizar.size

4037

In [31]:
auctions.shape

(47409528, 4)

In [32]:
#Filtramos quedandonos solo con los registros que tengan informaci√≥n de los dispositivos que nos interesan.
training_set = auctions.loc[auctions['device_id'].isin(dispositivos_a_analizar)]

In [43]:
#Tenemos registros del 18/04 al 26/04 inclusive
training_set.sort_values(by='date',inplace=True)
training_set

,date,device_id,ref_type_id,source_id
44538110,2019-04-18 00:00:01.524963,2551221563998301791,1,1
26073960,2019-04-18 00:00:01.599477,2551221563998301791,1,1
24619548,2019-04-18 00:00:01.958997,2551221563998301791,1,3
25285926,2019-04-18 00:00:04.095416,4282881167099495773,1,0
24598033,2019-04-18 00:00:06.101488,4698733293136445042,1,3
10129898,2019-04-18 00:00:07.318517,4282881167099495773,1,0
44514702,2019-04-18 00:00:09.405335,3036512749306595568,1,1
25285955,2019-04-18 00:00:09.878261,2116146625751268539,1,0
44538139,2019-04-18 00:00:10.359163,7459715895483226863,1,1
11820591,2019-04-18 00:00:15.508612,1797028790104146357,1,1
24644689,2019-04-18 00:00:15.636696,1797028790104146357,1,3
44504379,2019-04-18 00:00:17.548310,173037676676551667,1,1
26074035,2019-04-18 00:00:26.670894,1978663103663783493,7,1
44538174,2019-04-18 00:00:28.384000,68351385897135603,1,1
44542431,2019-04-18 00:00:29.073497,8091373395934396567,1,3
14092646,2019-04-18 00:00:31.108015,1327834472616354686,1,1
44502520,2019-04-18 00:00:31.299234,1327834472616354686,1,1
44505251,2019-04-18 00:00:32.621908,1327834472616354686,1,1
24644721,2019-04-18 00:00:32.645617,7459715895483226863,1,3
11820636,2019-04-18 00:00:33.137246,1327834472616354686,1,1
38136785,2019-04-18 00:00:33.341267,1327834472616354686,1,1
3434680,2019-04-18 00:00:33.444472,4233829015690887880,1,1
20482021,2019-04-18 00:00:34.611314,2116146625751268539,1,0
4979970,2019-04-18 00:00:36.335837,7459715895483226863,1,3
16748624,2019-04-18 00:00:46.290672,3057201193707403038,1,7
25266093,2019-04-18 00:00:49.303719,7487023899811414012,1,1
44505280,2019-04-18 00:00:49.332823,7487023899811414012,1,1
44538232,2019-04-18 00:00:51.981364,5814579614199200422,1,1
26074092,2019-04-18 00:00:52.006367,3139981846352991435,1,1
26074103,2019-04-18 00:00:54.837487,2132505332723959319,1,1
...,...,...,...,...
17553381,2019-04-26 23:59:37.663475,2823877798610043622,7,1
18432135,2019-04-26 23:59:38.397869,2728506866845210190,1,6
13743265,2019-04-26 23:59:38.744339,2728506866845210190,1,6
4301264,2019-04-26 23:59:39.297002,1999681247947819001,1,0
4301985,2019-04-26 23:59:39.898738,2893933521113190902,1,3
13744186,2019-04-26 23:59:40.291339,2728506866845210190,1,1
31151338,2019-04-26 23:59:41.004234,6213594084293526646,1,0
44059634,2019-04-26 23:59:41.118736,2596462906938170152,1,1
3800985,2019-04-26 23:59:42.957853,2596462906938170152,1,1
17553392,2019-04-26 23:59:43.707877,2728506866845210190,1,1
36347828,2019-04-26 23:59:43.830099,3549746479765752969,1,8
23471651,2019-04-26 23:59:45.349926,667533239969506203,1,1
23471653,2019-04-26 23:59:46.172372,1999681247947819001,1,1
9498126,2019-04-26 23:59:46.184745,667533239969506203,1,1
15870138,2019-04-26 23:59:46.406594,667533239969506203,1,1
23471654,2019-04-26 23:59:46.434586,2728506866845210190,1,1
22779152,2019-04-26 23:59:46.516137,4567859138402481205,1,4
9498128,2019-04-26 23:59:46.828497,667533239969506203,1,1
4300190,2019-04-26 23:59:46.938126,1999681247947819001,1,1
22272838,2019-04-26 23:59:47.080996,1999681247947819001,1,4
33429038,2019-04-26 23:59:47.331680,667533239969506203,1,1
22778728,2019-04-26 23:59:49.203423,2823877798610043622,7,1
18430906,2019-04-26 23:59:49.361100,3747893793130762485,1,0
3800994,2019-04-26 23:59:49.531811,2596462906938170152,1,1
22778729,2019-04-26 23:59:50.056226,2823877798610043622,7,1
18430216,2019-04-26 23:59:50.561307,6538004127146403215,1,1
12712090,2019-04-26 23:59:51.793241,9001894065986101363,1,3
4301335,2019-04-26 23:59:52.364457,1030603044158081433,1,0
18431808,2019-04-26 23:59:54.861187,6538004127146403215,1,0
4301355,2019-04-26 23:59:59.038705,6213594084293526646,1,0

In [44]:
#Separamos el set de entrenamiento en 5 "ventanas" de 3 d√≠as cada una.
ventana1 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-18')) & (training_set['date'] < pd.to_datetime('2019-04-21'))]
ventana2 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-19')) & (training_set['date'] < pd.to_datetime('2019-04-22'))]
ventana3 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-20')) & (training_set['date'] < pd.to_datetime('2019-04-23'))]
ventana4 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-21')) & (training_set['date'] < pd.to_datetime('2019-04-24'))]
ventana5 = training_set.loc[(training_set['date'] > pd.to_datetime('2019-04-22')) & (training_set['date'] < pd.to_datetime('2019-04-25'))]

In [91]:
#Paso a TimeDelta para poder luego poder calcular los segundos que tardaron para aparecer en cada subasta
from datetime import datetime, timedelta
pd.to_timedelta(ventana1['date'])- timedelta(days=18004)

44538110   0 days 00:00:01.524963
26073960   0 days 00:00:01.599477
24619548   0 days 00:00:01.958997
25285926   0 days 00:00:04.095416
24598033   0 days 00:00:06.101488
10129898   0 days 00:00:07.318517
44514702   0 days 00:00:09.405335
25285955   0 days 00:00:09.878261
44538139   0 days 00:00:10.359163
11820591   0 days 00:00:15.508612
24644689   0 days 00:00:15.636696
44504379   0 days 00:00:17.548310
26074035   0 days 00:00:26.670894
44538174   0 days 00:00:28.384000
44542431   0 days 00:00:29.073497
14092646   0 days 00:00:31.108015
44502520   0 days 00:00:31.299234
44505251   0 days 00:00:32.621908
24644721   0 days 00:00:32.645617
11820636   0 days 00:00:33.137246
38136785   0 days 00:00:33.341267
3434680    0 days 00:00:33.444472
20482021   0 days 00:00:34.611314
4979970    0 days 00:00:36.335837
16748624   0 days 00:00:46.290672
25266093   0 days 00:00:49.303719
44505280   0 days 00:00:49.332823
44538232   0 days 00:00:51.981364
26074092   0 days 00:00:52.006367
26074103   0 days 00:00:54.837487
                    ...
13594561   2 days 23:59:17.283715
38614505   2 days 23:59:17.773605
5070005    2 days 23:59:17.850464
221971     2 days 23:59:20.304127
26561119   2 days 23:59:20.375564
24116332   2 days 23:59:21.452397
13594569   2 days 23:59:23.437760
7177328    2 days 23:59:26.579712
21986119   2 days 23:59:26.820876
13270736   2 days 23:59:27.129412
24020912   2 days 23:59:28.433222
24409558   2 days 23:59:28.761529
22047608   2 days 23:59:32.378496
45930552   2 days 23:59:33.394953
24055776   2 days 23:59:33.913822
32934834   2 days 23:59:34.131461
24409574   2 days 23:59:34.595109
45930557   2 days 23:59:37.464895
32639922   2 days 23:59:38.407718
38609220   2 days 23:59:40.083950
24116377   2 days 23:59:40.982139
45930568   2 days 23:59:42.077231
13701686   2 days 23:59:45.054302
34490658   2 days 23:59:47.265735
13594620   2 days 23:59:47.620612
24020942   2 days 23:59:48.660127
22044013   2 days 23:59:49.112919
24129363   2 days 23:59:55.161168
13270770   2 days 23:59:55.915643
45944631   2 days 23:59:58.555952
Name: date, Length: 163330, dtype: timedelta64[ns]

In [92]:
date_seconds = (pd.to_timedelta(ventana1['date'])- timedelta(days=18004)).dt.total_seconds()
date_seconds.head()

44538110    1.524963
26073960    1.599477
24619548    1.958997
25285926    4.095416
24598033    6.101488
Name: date, dtype: float64